/* styles.css */

/*Main Page data: */

.menu-button-main {
    -fx-background-color: #d1e1d4;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-padding: 2px 4px;
}

.menu-button-main .menu-item {
    -fx-background-color: #d1e1d4;
    -fx-text-fill: white;
}

.menu-button-main .menu-item:hover {
    -fx-background-color: #4e795c;
    -fx-text-fill: #d1e1d4;
}

.menu-button-main .context-menu {
    -fx-background-color: transparent;
}

.menu-button-upload {
    -fx-background-color: #d1e1d4;
    -fx-text-fill: black;
    -fx-font-weight: bold;
    -fx-padding: 5px 10px;
}

/*Registration & Login data: */

.main-container {
    -fx-background-color: #8bbbae;
    -fx-padding: 20px;
    -fx-spacing: 15px;
}

.title-label {
    -fx-font-size: 32px;
    -fx-text-fill: #2d5335;
    -fx-font-styles: bold;
}

.info-label {
    -fx-font-size: 14px;
    -fx-text-fill: #2d5335;
}

.action-button {
    -fx-background-color: #d1e1d4;
    -fx-text-fill: #4e795c;
    -fx-font-weight: bold;
    -fx-padding: 10px 20px;
}

.action-button:hover {
    -fx-background-color: #4e795c;
    -fx-text-fill: #d1e1d4;
}

.text-field {
    -fx-background-color: #f7f7f7;
    -fx-border-color: #999999;
    -fx-border-width: 1px;
}

.checkbox {
    -fx-font-size: 12px;
    -fx-text-fill: #666666;
}

.post-button {
    -fx-background-color: transparent;
    -fx-border-color: white;
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-padding: 5px 10px;
}
.post-button:hover {
    -fx-background-color: #4e795c;
}

/* Post Creation Data*/
.uploaded-files-tilepane {
    -fx-background-color: #ffffff;
    -fx-border-color: #cccccc;
    -fx-border-width: 2;
    -fx-padding: 10;
    -fx-hgap: 10;
    -fx-vgap: 10;
    -fx-tile-alignment: center;
    -fx-pref-columns: 1
}

.rounded-hbox {
  -fx-background-radius: 10;
  -fx-background-color: #f0f0f0;
  -fx-padding: 5;
}

.rounded-label {
  -fx-background-radius: 10;
  -fx-background-color: #ffffff;
  -fx-padding: 5px 10px;
  -fx-font-size: 14px;
  -fx-text-fill: #333;
}

.symbol-button {
    -fx-background-radius: 5;
    -fx-background-color: #d1e1d4;
    -fx-text-fill: #4e795c;
    -fx-font-weight: bold;
    -fx-font-size: 12px;
    -fx-padding: 5px 8px;
}

.symbol-button:hover {
    -fx-background-color: #4e795c;
    -fx-text-fill: #d1e1d4;
}