/* styles.css */

.menu-button-profile {
    -fx-background-color: lightblue;
    -fx-border-color: transparent;
}

.menu-button-profile .menu-item {
    -fx-text-fill: -fx-text-background-color;
    -fx-background-color: lightblue;
}

.menu-button-profile .context-menu {
    -fx-background-color: lightblue;
}

.menu-button-leaderboard {
    -fx-background-color: lightcoral;
    -fx-border-color: transparent;
}

.menu-button-leaderboard .menu-item {
    -fx-text-fill: -fx-text-background-color;
    -fx-background-color: lightcoral;
}

.menu-button-leaderboard .context-menu {
    -fx-background-color: lightcoral;
}